window {
margin: 0px;
border: 3px solid #a3be8c;
background-color: #282a36;
opacity: 0.9;
filter: blur(9px);
border-radius: 10px;
}

#input > image.left {
    -gtk-icon-transform:scaleX(0);
}

#input {
font-weight: bold;
margin: 5px;
border: 2px solid #a3be8c;
color: #ffffff;
background-color: #324E50;
}

#inner-box {
margin: 5px;
border: none;
background-color: #282a36;
}

#outer-box {
margin: 5px;
border: none;
background-color: #282a36;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #f8f8f2;
} 

#entry.activatable #text {
color: #282a36;
}

#entry > * {
color: #f8f8f2;
}

#entry:selected {
background-color: #a3be8c;
}

#entry:selected #text {
color: #000000;
font-weight: bold;
}
